body{
    text-align: center;
}
input {
    width: 20%;
    padding: 5px 2px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 